body {
    background-color: #ffffff; 
    color: #333;
    text-align: center;
    margin: 0;
}
.resume-container {
    max-width: 600px;
    margin: 50px auto;
    font-size: 19px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    padding: 30px; 
    min-height: 600px; 
}

header {
    letter-spacing: 4px;
    background-color: #2ba7a7; 
    color: rgb(255, 255, 255);
    font-style: normal;
    padding: 25px;
    border-radius: 12px 12px 0 0;

}

.profile-pic {
    position:relative;
    width: 160px;
    height: 190px;
    border-radius: 90%;
    border: 6px solid rgb(255, 255, 255); 
    
}

h1 {
    letter-spacing: 2px;
    font-style:Italic;
    margin: 10px 0;
    font-size: 2.5rem; 
}
h2 {
    letter-spacing: 2px;
    color:#2ba7a7; 
    border-bottom: 3px solid #2ba7a7; 
    padding-bottom: 5px;
    margin-bottom: 15px;
}
p{
    font-style: Italic;
    font-size: 20px;
}
p2{
    font-style: Italic;
    font-size: 13px;
}
p1{
    font-style: Italic;
    font-size: 20px;
}
section {
    margin: 25px 0;

}
.skills ul{
    background-color: #e0f7fa; 
    padding: 15px;
    gap: 8px;
    border-radius: 8px;
}

button {
    padding: 12px 25px;
    background-color: #f76c6c; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #f44336;
}
