   body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f5f7; 
    color: #333;
    text-align: center;
    margin: 0;
}

.resume-container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    padding: 30px; 
    min-height: 600px; 
}

header {
    background-color: #2ba7a7; 
    color: white;
    padding: 25px;
    border-radius: 12px 12px 0 0;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 60px;
    border: 4px solid white; 
}

h1 {
    margin: 10px 0;
    font-size: 2.5rem; 
}

h2 {
    color:#2ba7a7; 
    border-bottom: 3px solid #2ba7a7; 
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section {
    margin: 25px 0;
}

.skills {
    background-color: #e0f7fa; 
    padding: 15px;
    border-radius: 8px;
}

button {
    padding: 12px 25px;
    background-color: #f76c6c; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #f44336;
}
